<!-- <span>{{title}}</span>
<!--<span>{{PI}}</span> In Angular2, the template can only access fields and methods of the component class. Everything else is off-limits. This includes things which are visible to the component class.
The way to go around this is to have a field inside the component, which just references the constant, and use that instead.
-->
<!--<br>
<span [innerText]="'My title'"></span>
<!--In this case, the value passed to the innerText property is a static string, not a component property.-->
<!--<br><span>{{myText}}</span>
<p [style.color]="'greenyellow'">Hi there</p> <!--Adding inline CSS-->
<!--<p [style]="currentStyle">Here CSS classes are added by a string property from component</p>
<p [style]="newStyle">Here CSS classes are added by a JS object from Component Class</p>
<button (click)="onClick()"></button>
<app-hero name="Boothstomper"></app-hero>
While input binding we can have a simple string we use no squarebracket as done above vs below.
-->
<app-hero [name]="hero" #heroCmp (liked)="onLike($event)"></app-hero> <!--Local Reference '#heroCmp' to heroComponent can access public properties and methods directly with Input and Ouput properties as shown below-->
<br>
<span>{{heroCmp.name}}</span>
