<mat-form-field>
  <input matInput type="text" [formControl]="name" placeholder="Name" [matAutocomplete]="heroesAuto">
  <mat-error *ngIf="!name.valid">Name is required</mat-error>
</mat-form-field>

<mat-autocomplete #heroesAuto="matAutocomplete">
  <mat-option *ngFor="let hero of filteredHeroes$ | async" [value]="hero.name">{{hero.name}}</mat-option>
</mat-autocomplete>

<mat-checkbox [checked]="isChecked">Check me</mat-checkbox>

<br>
<mat-form-field>
  <input matInput type="text" placeholder="Select a Date" [matDatepicker]="picker">
</mat-form-field>

<mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>

<!--
  The mat-autocomplete element contains a set of mat-option elements that represent the list of suggested values. We use the
  ngFor directive to iterate over a list of heroes that we have created in the heroes.ts file
  and display them as options.


  We define a heroesAuto template reference variable and set it to matAutocomplete
  so that we can reference it later in the input field. This way, when the input control is
  focused, it triggers the autocomplete control to display the suggested hero names.

  This above auto-complete can be retrieved from a backend API.

-->


<!--
  Error thrown mat-form-field must contain a MatFormFieldControl
  Had to add MatInputModule too.

  Per StackOverflow,
  I had this issue. I imported MatFormFieldModule at my main module, but forgot to add MatInputModule to the imports array.


-->

<!--
  Date-Picker
  The idea is that the input control triggers the date-picker control to be displayed. To
  create a date-picker control, we need to add a mat-datepicker-toggle and a
  mat-datepicker element inside the mat-form-field element

  The mat-datepicker-toggle is a button element with a calendar icon on it. It is
  positioned at the end of the input control, as defined by the matSuffix directive, and
  displays the calendar pop-up when clicked by the user. The mat-datepicker element
  defines a picker template reference variable that we can use to associate it both with the
  input field and the mat-datepicker-toggle element.
-->
