<form [formGroup]="heroDetails" (ngSubmit)="login()">
  <div>
    <input type="text" placeholder="Name" formControlName="name" required />
  </div>
  <input
    type="text"
    placeholder="RealName"
    formControlName="realName"
    required
  />
  <form formGroupName="biometricData">
    <div>
      <label>Age:</label>
      <input type="number" formControlName="age" />
    </div>
    <div>
      <label>Eyes:</label>
      <input type="color" formControlName="eyes" />
    </div>
    <div>
      <label>Hair:</label>
      <input type="color" formControlName="hairy" />
    </div>
  </form>
  <button type="button" (click)="addPower()">Add Power</button> <!--BUG:Important to define the typw of the button or else clicking this invokes submit everytime-->
  <div formArrayName="powers" *ngFor="let power of powers.controls; let i=index"><!--BUG:Important to give formArrayName or else gives error of not finding element-->
    <label>Power: </label>
    <input type="text" [formControlName]="i">
  </div>
  <button type="submit">Submit</button>
  <button type="reset">reset</button>
</form>


