<button mat-button color="primary">Hi, I am a button</button>
<button mat-raised-button color="primary">Hi, I am a button</button>
<button mat-stroked-button color="primary">Hi, I am a button</button>
<button mat-icon-button color="primary">
  <mat-icon>favorite</mat-icon></button>
<button mat-fab>
  <mat-icon> delete </mat-icon>
</button>
<mat-button-toggle-group>
  <mat-button-toggle value="left">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<br/>
<app-form-controls></app-form-controls>

<!--
Buttons
• mat-raised-button: A button that is displayed with a shadow to indicate its
  raised state. A variation of this button is mat-flat-button, which is the same
  button but without a shadow.
• mat-stroked-button: A button with a border.
• mat-icon-button: A button that displays an icon only, without text.
• mat-fab: A rounded button with an icon. A variation of this type is
  mat-mini-fab, which displays a smaller button.
• mat-button-toggle: A button with on/off capabilities that indicates whether it
  has been pressed or not.

To use a mat-icon-button, we need to import MatIconModule from the
@angular/material/icon namespace and add a mat-icon element inside
the button. The content of a mat-icon element is a text that indicates which
icon to display.

A mat-icon element is also the basis for the mat-fab and mat-mini-fab
buttons, but it can also be used with other button types.

To use a mat-button-toggle button, we need to import
MatButtonToggleModule from the @angular/material/buttontoggle
namespace. A mat-button-toggle button is rarely used standalone;
instead, it is combined with other buttons of the same type in a mat-buttontoggle-
group element.




-->
