<h3>Reactive forms</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <input type="text" name="username" placeholder="Username" formControlName="username" required>
    <span class="help-block" *ngIf="username.touched && username.invalid">The username is not valid</span>
  </div>
  <div>
    <input type="email" name="email" placeholder="email" formControlName="email" required>
    <span class="help-block" *ngIf="email.touched && email.invalid">The email is not valid</span>
  </div>

  <div>
    <input type="password" name="password" placeholder="Password" formControlName="password" required>
    <span class="help-block" *ngIf="password.touched && password.hasError('required')">The password is required</span>
    <span class="help-block" *ngIf="password.touched && password.hasError('minlength')">The password is too short</span>
    <span class="help-block" *ngIf="showPasswordHint">The password should be of atleast 6 characters</span>
  </div>
  <br>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
  <br>
  <button type="reset">Reset</button>
  <div *ngIf="username?.value.length > 1">Hi, {{username.value}}</div> <!--BUG: ngIf not works when the component is initialized-->
</form>

<!--Previously, in the template-driven form, we had access to the username and
    password properties of the data model directly. In reactive forms, this is not the
    case since the form model is the source of truth. So, we need to get input control
    values from the FormGroup or FormControl classes. The FormGroup class
    exposes the controls property, which we can use to get a specific FormControl
    instance. The FormControl class contains various properties, such as the value
    of the input control associated with it.

    The FormGroup class also contains a value property, which we can use
    to access form control values as a single object. We usually use this property
    when posting whole entities in a backend API.
  -->

<!--The Angular framework sets the following classes automatically in a form control according to its current status:

      ng-untouched: Indicates that we have not interacted with the control yet
      ng-touched: Indicates that we have interacted with the control
      ng-dirty: Indicates that the control has a value
      ng-pristine: Indicates that the control does not have a value yet
      ng-valid: Indicates that the value of the control is valid
      ng-invalid: Indicates that the value of the control is not valid
      Each class name has a similar property in the form model-->

<!--For the ng-valid and ng-invalid classes to work, we need to add a validation rule to
our input elements. There are many built-in validators that we can use,
but in this case, we will use the required one, which indicates that
an input control must have a value to be valid. -->
